
/*-------------------------------------------------------------------*/

#menu-btn{
    top: 2%;
    right: 2%;
    position: fixed;
    z-index: 1;
}
.btn{
    background: #ffffff;
    /*overflow: auto;*/
    outline-color: #00ff14;
    outline: auto green;
}

.btn:active{
    border: solid 2px #20ec1a;
    color: #179e6b;
}

#context{
    top: 7%;
    background: #ffffff7a;
   /* border-bottom-left-radius: 10%;*/
    border: solid 2px #d0cfff;
    right: 2%;
    position: fixed;
    /*padding-top: 5%;*/
    /*padding-left: 5%;*/
    padding:  5% 3% 3% 5%;
    overflow: scroll;
    min-width: 50vw;
    /* width: 70vw; */
    max-width: 87vw;
}

/*---------------*/
/*
#menu{
    position: absolute;
    z-index: 9999;
    right: 0px;
    width: 50%;
    height: 50%;
}

#context{
    width: 50%;
    height: 50%;
    background: #ffffff7a;
    border-bottom-left-radius: 10%;
    border: solid 2px #d0cfff;
    right: 0px;
    position: fixed;
}

#menu-btn{

    position: fixed;
    display: inline-flex;
    right: 0px;
    padding-right: 1%;
    z-index: 9999;
    width: 34%; 
    margin-right: 2%;
  
    overflow: auto;
}
/*
.btn-padrao{
    right: 0px;
    background: #149c09;

    font-weight: bold;
    padding: 4%;
    border: 2px solid #167107;
    margin: 1%;
    box-shadow: inset -4px -3px 0px #167107;
    outline:0px;
    color: #fff;
    border-top: 0px;
    border-left: 0px;
    width: 100%;
}
.btn-padrao:hover{
    background: #149c09;
}
.btn-padrao:active{

    box-shadow:inset 0px 2px 8px #351616;
}
*/
/*-------------------------------------------------------------------*/
#permalink{
    /*background: #00ff14;*/
    outline: auto green;
    left:1%;
    text-align: center;
    bottom: 5%;
    position: fixed;
    font-weight: bold;
    background: #ffffff;
    /*border: 2px solid #20ec1a;*/
    padding: 0.3%;
    color: black;
}

#map .ol-zoom .ol-zoom-out {
    margin-top: 204px;
  }
  #map .ol-zoomslider {
    background-color: transparent;
    top: 2.3em;
  }

  #map .ol-touch .ol-zoom .ol-zoom-out {
    margin-top: 212px;
  }
  #map .ol-touch .ol-zoomslider {
    top: 2.75em;
  }

  #map .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
  #map .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
    top: 3px;
  }

  #map .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
  #map .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
    top: 232px;
  }

  #listaDesenho ul{
    border-left: 2px solid green;
    border-right: 2px solid green;
    background: #daf7df;
  }
  #listaDesenho ul  .active a{

    border-bottom: 3px solid #000000;
  }
  #listaDesenho ul li a:hover{
  
    background-color: #ffffff;
  }
  #listaDesenho a{
    color:green;
    font-weight: bold;
  }